<div class="col-lg-3 user-profile-well">

  <div class='span3'>
    <div class='image-container'><%= image_tag user.large_avatar, class:'cbp-vm-image circular'  %></div>
    <h3 class="cbp-vm-title"><%= user.name %></h3>
    <div class="cbp-vm-price">Joined on: </strong><%= user.created_at.strftime("%m/%d/%Y") %></div>
      <h4>Playdates:</h4>
      <h5><strong>Created: </strong><%= user.created_events.count %></h5>
      <h5><strong>Attending: </strong><%= user.attending_events.count %></h5>
    <%= link_to "View Profile", user_path(user.id), class:"cbp-vm-icon cbp-vm-add"  %>
  </div>

</div>
