<div id='user-profile'>
  <div class="span7"  >
    <h2><%= @user.name %>'s Profile</h2></br>
    <div class= "profile-image">
      <%= image_tag @large_avatar, :height => '150', :width => '150'  %>
    </div>

    <div>
      <div id="user-info" class='span3'>
        <h5><strong>Joined on: </strong><%= @user.created_at.strftime("%m/%d/%Y") %></h5>
      </div>
    </div>

    <% unless @user.created_events.empty? %>
    <div id='created-events'>
      <h4>Created Events</h4>
      <% @user.created_events.each do |event| %>
      <%= link_to event.name, event_path(event) %>
      <%= event.date %>
      <%= event.start_time.strftime("%I:%M %p") %> to <%= event.end_time.strftime(" %I:%M %p") %>
      <% end %>
    </div>
    <% end %>

    <% unless @user.attending_events.empty? %>
    <div id='attending-events'>
      <h4>Attending</h4>
      <% @user.attending_events.each do |event| %>
      <%= link_to event.name, event_path(event) %>
      <%= event.start_time.strftime("%I:%M %p") %> to <%= event.end_time.strftime(" %I:%M %p") %>
      <% end %>
    </div>
    <% end %>
  </div>
</div> 


<div class="cbp_tmtimeline">
  <% @events.each do |date, events| %>
    <li>
      <time class="cbp_tmtime"><span><%= date.strftime("%D") %></span></time> 
      <div class="cbp_tmicon cbp_tmicon-phone"></div>
      <% events.each do |event| %>
      <time class="cbp_tmtime hour"><span><br><%= event.start_time.strftime("%I:%M%p") %></span></time> 
        <div class="cbp_tmlabel">
          <h2><%= event.name %> - <%= event.start_time.strftime("%I:%M%p") %></h2>
          <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape radish bush tomato ricebean black-eyed pea maize eggplant. Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato summer purslane salsify fennel horseradish dulse. Winter purslane garbanzo artichoke broccoli lentil corn okra silver beet celery quandong. Plantain salad beetroot bunya nuts black-eyed pea collard greens radish water spinach gourd chicory prairie turnip avocado sierra leone bologi.</p>
        </div>
      <% end %>
    </li>
  <% end %>
</div>  
