<h2>Details for '<%= event.name %>'</h2>

Description: <%= event.description %></br>
Starts At: <%= event.starts_at %></br>
Venue: <%= event.location.venue %></br>
Street Address: <%= event.location.street_address %></br>
City: <%= event.location.city %></br>
State: <%= event.location.state %></br>
Zipcode: <%= event.location.zipcode %></br>
