<div id='cbp-mc-form' >
  <%= form_for(@event) do |f| %>
    <%= render "shared/errors", object: @event %>
    <%= render "shared/errors", object: @location %>

    <fieldset>
      <ol>
        <div class="cbp-mc-column">
        <li>
          <%= f.label :playdate_name %>
          <%= f.text_field :name, {autofocus: true, required: true} %>
        </li>
        <li>
          <%= f.label :description %>
          <%= f.text_area :description, {cols: 40, rows: 7, required: true} %>
        </li>
      </div>
      <div class="cbp-mc-column">
        <%= fields_for :location, @location do |k| %>
          <li>
            <%= k.label :location_name %>
            <%= k.text_field :venue, {size: 30, id:'venue-name', required: true} %>
          </li>

          <li>
            <%= k.label :street_address %>
            <%= k.text_field :street_address, {size: 30, id:'street-address', required: true} %>
          </li>

          <li>
            <%= k.label :city %>
            <%= k.text_field :city, {size: 30, id:'event-city', required: true} %>
          </li>

          <li>
            <%= k.label :state %>
            <%= k.text_field :state, {size: 2, id:'event-state', required: true} %>
          </li>
          <li id='zipcode'>
            <%= k.label :zipcode %>
            <%= k.text_field :zipcode, {size: 10, id:'event-zipcode', required: true} %>
          </li>
        <% end %>
      </div>
        <div class="cbp-mc-column">
        <li>
          <%= f.label :date %><br />
          <%= f.text_field :date, {id: 'datepicker', value: Date.today, required: true} %>
        </li>

        <li>
          <%= f.label :start_time %><br />
          <%= f.text_field :start_time, {id: 'start', required: true}  %>
        </li>

        <li>
          <%= f.label :end_time %><br />
          <%= f.text_field :end_time, {id: 'end', required: true}  %>
        </li>
        </ol>
        <p>
          <div class="playdate-submit-button">
            <%= f.submit 'Submit Playdate' %>
          </div>
      </div>

        </p>
      </fieldset>
    <% end %>
</div>

