<!DOCTYPE html>
<html>
  <head>
    <title>CommunityPlaydates</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API'] %>&libraries=places&sensor=false"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'dashboard/navbar' %>
    
    <br />
    <br />
    <br />
    <br />

    <%= yield %>

    <script type="text/javascript">
      if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
          window.history.pushState("", document.title, window.location.pathname);
        } else {
          // Prevent scrolling by storing the page's current scroll offset
          var scroll = {
top: document.body.scrollTop,
     left: document.body.scrollLeft
          };
          window.location.hash = '';
          // Restore the scroll offset, should be flicker free
          document.body.scrollTop = scroll.top;
          document.body.scrollLeft = scroll.left;
        }
      }
</script>

  </body>
</html>

